.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #222; */
  background: linear-gradient(90deg, #4f46e5, #9333ea);
  color: white;
  padding: 12px 24px;
}

.navbar .logo {
  font-size: 1.4rem;
}

.navbar .links a,
.navbar .links button {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.navbar .links a:hover,
.navbar .links button:hover {
  text-decoration: underline;
}

.logout-btn {
  color: #ff6961;
  font-weight: 600;
}
